---
# Global connection variables - COPY THIS TO vars.yml and update with your values
host: "your-server.domain.com"
user: "your-ssh-username"
ssh_key: "~/.ssh/your-private-key"

# Global application variables
app_name: "your-app-name"
app_dir: "/path/to/your-app-name"
app_port: <port_number>
docker_network: "your_docker_network"

# Global network variables
domain_name: "your-domain.com"
http_port: 80
https_port: 443

# SSL certificate path on server
ssl_cert_path: "/path/to/your/certs"

# # GitHub Container Registry variables
container_registry: "your-registry-url"
repo_owner: "your-username"
repo_name: "your-repo-name"
app_image_name: "{{ container_registry }}/{{ repo_owner }}/{{ repo_name }}/your-app-name"
nginx_image_name: "{{ container_registry }}/{{ repo_owner }}/{{ repo_name }}/your-nginx-name"
app_version: "v0.0.0-dev3"  # Optional. default is APP_VERSION file
nginx_version: "v0.0.0-dev3"  # Optional. default is APP_VERSION file

github_username: "{{ lookup('env', 'GITHUB_USERNAME') }}"
github_token: "{{ lookup('env', 'GITHUB_TOKEN') }}"
